* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

  
    font-weight: 800;
    
}
h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Black Han Sans', sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    vertical-align: middle;
}


button {
    border: none;
}

input,
textarea {
    outline: none;
}

/* img{
    width: 350px;
    height: 400px;
} */

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}


/* slide show css */

.slick-dots {
    margin-top:30px; 
    padding: 0; 
    text-align:center;
    margin-left: 228px;
} 

.slick-dots li {
    display: inline-block;
    margin-left: 4px; 
    margin-right: 4px;
    
} 

.slick-dots li.slick-active button {background-color: black;} 

.slick-dots li button {width:15px; height:15px; background-color: #999; border-radius: 50%; text-shadow: none; color: transparent; border: none; font: 0;} 

.slick-dots li :hover {background-color: black;} 

/* Custom Arrow */ 

.prev{display:inline-block; width:30px; height:30px; background:black; } 

.next{display:inline-block; width:30px; height:30px; background:red;}


/* flexbox css */

.flex-box-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.flex-box-start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.flex-box-end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
}

.flex-box-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.navbar {
    position: fixed !important;

    z-index:99999;
    width: 100%;
    box-shadow: 0 1px 0.3rem hsl(0deg 0% 80% / 80%);

  

}
.collapse ul li a{
  font-size: 20px;
  /* color: #333333 !important;
   */

   background-image: linear-gradient(
        135deg,grey,#000);

     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
            
}

.navbar-nav {
    width: 100%;

}

.home-arrow{
    position: fixed;

    right: 100px;

    width: 100px;
    height: 100px;
    padding: 30px;
    background-color: #000;
}



/* main css */

#portfolio {
    position: relative;
    /* width: 100%; */
    height: 2000px;

   
}

#portfolio #main-portfolio {

    width: 100%;
    /* height: 100%; */
    /* background-color: azure; */

    position: relative;
    /* top: 70px; */

   padding-top: 40px;

}

#portfolio #main-portfolio .main-home {
    /* position: relative; */

    /* background-color: darkcyan; */
    width: 100%;
    height: 700px;
    padding: 50px;
}

#portfolio #main-portfolio .main-home h1 {
    position: relative;
    top: 100px;
    font-weight: 500;
    font-size: 80px;
    background-image: linear-gradient(
135deg,#fff,#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Black Han Sans', sans-serif;
}

#portfolio #main-portfolio .main-home .main-home-text {
    width: 100%;
    height: 500px;
    font-size: 30px;
    font-weight: 300;
    
    text-align: center;

    background-image: linear-gradient(
        135deg,#fff,#000);

     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
            
     font-family: 'Black Han Sans', sans-serif;

}
#portfolio #main-portfolio .main-home .main-home-text p{
    font-family:'Noto Sans KR', sans-serif;;
}

.start-button{
    opacity: 0.9;
    top: 30px;
  position: relative;

  color: #fff;
  background-color: #333333;
  text-decoration: none;
  font-size: 15px;

padding: 20px 30px;
  border: 1px solid #000;
  border-radius: 30px;

  font-weight: 500;
  -webkit-text-fill-color: #fff;
  font-family:'Noto Sans KR', sans-serif;;
/* 
  -webkit-box-shadow: 5px 5px 15px -1px #000000; 
    box-shadow: 5px 5px 15px -1px #000000; */
}
.start-button:hover {
    opacity: 1;
    color: #fff;
}

.icon-style{
    position:relative;
    right: 20px;
    font-size: 50px;

    color: #f2f2f2;

    text-decoration: none;
}











/* 프로젝트 메뉴 css */


 #project-main{
   position: relative;
   width: 100%;
   /* height: 100%; */

   top: 100px;

   text-align: center;

   background-color: #e9c46a;
    
}

#project-main #skill-column{
    width: 100%;
    height: 100%;

    padding: 100px;
    background-color: #e76f51;
}

#project-main #skill-logo{
width: 100%;
/* height: 100%; */

padding: 100px;
}
#project-main #skill-logo h2{
    margin-top: -100px;
}
#project-main #skill-logo img{
    width: 170px;
    height: 170px;
    margin: 5px;
   
    border-radius: 100%;
    -webkit-box-shadow: 5px 5px 15px -1px #000000; 
    box-shadow: 5px 5px 15px -1px #000000;

    position: relative;
    transition: top linear 0.45s;
    top:0;

    background-color: #fff;
}

#project-main #skill-logo img:hover{
    top: -20px;
}

#skill-logo h2{
    font-size: 70px;
    color: #fff;
    font-weight: bold
}








 #project-main .project-top{
width: 100%;
/* height: 50%; */

margin-bottom: 30px;
}
#project-main .project-top h1{
    margin-bottom: 100px;
   font-weight: bold;
   font-size: 70px;

    color: #fff;

    padding-top: 100px;
}
#project-main .project-bottom{
    width: 100%;
    /* height: 50%; */
}
 .project-1, .project-2, .project-3, .project-4{

    /* background-color: blue; */
    /* display: block; */
    /* display: inline-block; */
    /* line-height: 400px; */
    /* text-align: center; */
    /* width: 100%; */
    
    margin-bottom: 70px;
    margin-left: 250px;


    /* border: solid 1px #000; */
    border-radius: 20px;;
    padding: 30px;
    margin-right: 250px;

    background-color: #fff;

    -webkit-box-shadow: 5px 5px 20px -5px #000000; 
box-shadow: 5px 5px 20px -5px #000000;
}

.project-1 h3,
.project-2 h3,
.project-3 h3,
.project-4 h3{
margin-right: 50px;
margin-bottom: 50px;

color: #000;
font-size: 40px;
   }


.project-1 .project-slide img,
.project-2 .project-slide img,
.project-3 .project-slide img,
.project-4 .project-slide img{
    width: 350px;
    height: 350px;
    /* border: 1px solid #000; */
    border-radius: 30px;
    /* -webkit-box-shadow: 5px 5px 11px -1px #000000; 
box-shadow: 5px 5px 7px -1px #000000; */
padding: 10px;
}

.project-1 .project-text,
.project-2 .project-text,
.project-3 .project-text,
.project-4 .project-text{
    float:left;
    text-align:left;

    margin-right: 80px;

    width: 400px;

    
}
.project-1 .project-text p,
.project-2 .project-text p,
.project-3 .project-text p,
.project-4 .project-text p{
    font-family:'Noto Sans KR', sans-serif;;
}

#project-main ul{
width: 100%;
height: 100%;

}

#project-main #project-1 li{
    /* width: 100%; */
    height: 500px;
    position: relative;
    left: 50px;

}


/* story column */


#story-column{
    width: 100%;
    height: 100%;
    
    padding: 10px;
    margin-right: 20px;

 
    

    background-color: #2a9d8f;

    
    
}


#myStory{
    /* width: 100%; */
    height: 100%;
    padding: 100px 0;

    border-radius: 20px;
   
    margin:100px;

    background-color: #fff;

    -webkit-box-shadow: 5px 5px 20px -5px #000000; 
box-shadow: 5px 5px 20px -5px #000000;




}
.story-title{
    margin-top: 70px;
    margin-bottom: 60px;
    font-size:70px;
    font-weight: bold;
    color: #fff;

    

}

#myStory .text-column{

}
#myStory .text-column .story-left{
margin-right: 50px;



}
#myStory .text-column .story-left h3{
    font-size: 50px;
}

#myStory .text-column .story-left img{
width: 200px;
height: 200px;
border-radius: 100%;
-webkit-box-shadow: 5px 5px 20px -5px #000000; 
box-shadow: 5px 5px 20px -5px #000000;

margin-bottom: 20px;

}


#myStory .text-column .story-right p{
    font-family:'Noto Sans KR', sans-serif;
}





















/* last section */

.last-section{
position: relative;

    width: 100%;
    height: 300px;

    background-color: #333333;
    /* opacity: 0.7; */

    
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	align-content: stretch;
    
    padding-bottom: 30px;
}

.last-section .section-text{
    margin-right: 100px;


    font-size: 120px;
    background-color: #333333;
}
.last-section .section-text i,
.last-section .section-text-1 i{
    position: relative;
    font-size: 50px;
    color: #fff;
    top:0;
    transition: top linear 0.45s;
}

.last-section .section-text i:hover,
.last-section .section-text-1 i:hover{
    /* font-size: 80px; */
    color: #fff;

   top: -10px;
}

.last-section .section-text-1{
    
    /* width: 150px; */
    /* height: 150px; */

    background-color: #333333;
}

.last-section h1{
    position: absolute;
    top:10px;
    font-weight: bold;
    font-size: 70px;
    color: #fff;

    text-align: center;

    
}

.last-section a,
.last-section-1 a{
    position: relative;
    text-decoration: none;
    color: black;

    font-size: 30px;

    line-height: 150px;
    
    
}
.last-section a:hover{
    text-decoration: none;
    color: #999;
    font-size: 30px;
}

/* 
.slick-active button{
    position: absolute;
    width: 30px;
    height: 30px;

} */

.last-text{
    position: absolute;
    color: #7b7b7b;

    font-size: 12px;

}






















